* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: ArialBoldMT, Arial, Helvetica, sans-serif;
  background-color: white;
  color: #707070;
  width: 100%;
  height: 100%;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* reused css */

@font-face {
  font-family: ArialBoldMT;
  src: url(fonts/ARLRDBD.ttf);
}

a {
  text-decoration: none;
  color: #707070;
  display: block;
}

.segoe {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

mark.purple {
  color: #c4c1d9;
  background: none;
}

mark.pastel-purple {
  color: #e3e0f0;
  background: none;
}

/* --- backround elements --- */

#purple-circle {
  position: fixed;
  height: 1500px;
  width: 1500px;
  background-color: #ecebf0;
  border-radius: 100%;
  border: 120px solid #fbfbfb;
  margin-left: -52%;
  margin-top: -10%;
  z-index: 1;
}

#upper-right-icons {
  display: flex;
  padding-right: 3em;
  margin-top: 1.5em;
  justify-content: flex-end;
  align-items: center;
  width: 60em;
  height: 6em;
  z-index: 1;
  float: right;
}

#upper-right-icons img {
  padding: 10px;
  -webkit-filter: drop-shadow(3px 3px 3px #c0c0c0);
  filter: drop-shadow(3px 3px 3px #c0c0c0);
}

#lower-dot-element img {
  position: fixed;
  width: 25%;
  opacity: 50%;
  right: 0%;
  bottom: -17.5%;
  height: auto;
  z-index: 1;
}

/* --- nav --- */

#nav-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 11%;
  margin-top: 7%;
  width: 27em;
  height: 40em;
  z-index: 100;
}

#navigation-elements {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

nav img {
  width: 70%;
  height: auto;
  margin-bottom: -4px;
}

nav ul li {
  list-style: none;
  padding: 20%;
}

.nav-buttons {
  background-color: white;
  width: 21em;
  padding: 17px;
  border: 1px solid #9d9d9d;
  margin: 20px;
  margin-top: 0;
  border-radius: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav-buttons:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  transition-duration: 0.2s;
  transition-timing-function: line;
}

/* main */

.main-container {
  position: absolute;
  width: 50em;
  height: 500px;
  margin-left: 45%;
  margin-top: -60%;
  z-index: 100;
  text-align: right;
  animation-name: main-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main-container h1 {
  font-size: 6em;
  margin: 1% 0%;
}

.main-container p {
  font-size: 3em;
  line-height: 1.5em;
}

.main-container p:first-child {
  letter-spacing: 4px;
  font-size: 3.5em;
}

.button-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17em;
  height: 3.3em;
  background-color: #b5aed2;
  color: white;
  margin: 2% 0%;
  padding: 1.5em;
  float: right;
  border-radius: 50px;
  box-shadow: rgba(86, 86, 86, 0.24) 0px 3px 8px;
}

.button-1:hover {
  background-color: #aaa3c5;
  transition-duration: 0.4s;
}

/* ------ ABOUT PAGE ------ */

.about-container {
  position: absolute;
  width: 50em;
  height: 500px;
  margin-left: 45%;
  margin-top: -60%;
  z-index: 100;
  text-align: right;
  animation-name: main-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.about-container h1,
h2 {
  font-size: 4.5em;
  margin: 1% 0%;
}

.about-container h2 {
  margin-top: 20px;
}

.about-container p:last-child {
  margin-right: 1%;
  font-size: 5em;
}

.about-container p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 490;
}

/* ------ PROJECT PAGE ------ */

.project-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 65em;
  height: 48.4em;
  overflow-y: scroll;
  animation-name: main-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.project-container::-webkit-scrollbar {
  display: none;
}
.indv-project {
  position: relative;
  background-color: white;
  margin: 30px 10px;
  width: 50em;
  height: 33em;
  border: solid 1px rgb(226, 226, 226);
  border-radius: 50px;
  box-shadow: rgba(128, 128, 128, 0.24) 0px 3px 8px;
  float: right;
  display: flex;
  flex-direction: column;
}

.project-img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: solid 20px white;
  border-radius: 50px;
  opacity: 90%;
}

.project-img:hover {
  transition-duration: 0.4s;
  opacity: 100%;
}

.indv-project > h4 {
  font-size: 2rem;
  color: rgb(82, 82, 82);
}

.indv-project > p {
  margin-bottom: 3em;
}

.indv-project h4,
p {
  display: block;
  padding-left: 4%;
  margin: 2px;
}

/* contact page */

.contact-container {
  position: absolute;
  width: 50em;
  height: auto;
  margin-left: 30%;
  margin-top: -60%;
  z-index: 100;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  animation-name: main-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.contact-container h1 {
  float: right;
  font-size: 4.3rem;
  padding-right: 15px;
  padding-bottom: 20px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.contacts textarea {
  height: 190px;
  width: 650px;
  font-family: inherit;
  padding-top: 15px;
  border-radius: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.contact-inputs {
  border: 1.2px rgb(211, 211, 211) solid;
  height: 53px;
  width: 650px;
  padding-left: 25px;
  color: #666;
  border-radius: 50px;
}

.contact-inputs:hover {
  border: 1.2px #b1b1b1 solid;
  transition-duration: 0.4s;
}

.socials-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 3.2em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -33%;
  margin-left: 102%;
}

.socials {
  position: relative;
  height: 3.2em;
  width: 3.2em;
  border-radius: 10px;
  padding: 3px;
  opacity: 80%;
}

.socials:hover {
  opacity: 100%;
  transition-duration: 0.4s;
}

/* submit button for contact input */

.button-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 3.3em;
  right: 13em;
  background-color: #b5aed2;
  color: white;
  margin: 1% 0%;
  padding: 1.5em;
  border-radius: 50px;
  box-shadow: rgba(86, 86, 86, 0.24) 0px 3px 8px;
}

.button-2:hover {
  background-color: #aaa3c5;
  transition-duration: 0.4s;
}

/* !!!EXTRAS!!! */

/* Animation */

@keyframes main-animation {
  from {
    opacity: 40%;
  }
  to {
    opacity: 100%;
  }
}

/* MEDIA QUIERIES */

@media screen and (max-width: 1900px) {
  /* index */

  .main-container {
    position: absolute;
    width: 50em;
    height: 500px;
    margin-left: 0%;
    margin-top: -60%;
    z-index: 100;
    text-align: right;
  }

  /* about */
  .about-container {
    position: absolute;
    width: 45em;
    height: 500px;
    margin-left: 45%;
    margin-top: -60%;
  }

  /* contact */
  .contact-container {
    position: absolute;
    width: 50em;
    height: auto;
    margin-left: 7%;
  }
}

@media screen and (max-width: 1500px) {
  /* index */
  .main-container {
    position: absolute;
    width: 40em;
    height: 500px;
    margin-left: 0%;
    margin-top: -40%;
    z-index: 100;
  }

  .main-container h1 {
    font-size: 4em;
  }

  .main-container p {
    font-size: 2em;
  }

  .main-container p:first-child {
    display: none;
  }

  .button-1 {
    width: 13em;
  }

  #purple-circle {
    margin-left: -62%;
  }

  /* about */
  .about-container {
    position: absolute;
    width: 35em;
    height: 500px;
    margin-left: 45%;
    margin-top: -60%;
  }

  /* project */
  .project-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50em;
    height: 48.4em;
    margin-left: 10%;
  }

  /* contact */
  .contact-container {
    position: absolute;
    width: 50em;
    height: auto;
    margin-left: -15%;
  }
}
